# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [ ]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

# Standardize the column names
df.columns = df.columns.str.lower().str.replace(" ", "_")


# Rename columns for clarity
df = df.rename(columns={
    "st": "state"
})

# Print the resulting DataFrame
df.head()

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they contain only valid data. 

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [ ]:
df.state.value_counts()

In [ ]:
# Define a dictionary for each column to map inconsistent values to consistent ones
gender_dict ={"Male": "M", "female": "F", "Female": "F", "Femal": "F"}
education_dict = {"Bachelors": "Bachelor"}

# Define a dictionary mapping state abbreviations to state names
state_dict = {"AZ": "Arizona", "Cali": "California", "WA": "Washington"}

# Create a dictionary to store the column-specific dictionaries
column_dicts = {"gender": gender_dict, "education": education_dict, "state": state_dict}

# Loop through each column in the dataset and clean the inconsistent values using the corresponding dictionary mapping
for col in column_dicts:
    df[col] = df[col].replace(column_dicts[col])

# Verify that each column contains only consistent values
for col in column_dicts:
    print(col + ":", df[col].unique())

In [ ]:
# Clean the data in 'Customer Lifetime Value'
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '')
df['customer_lifetime_value'].head()

In [ ]:
luxury = ["Sports Car", "Luxury SUV", "Luxury Car"]
df["vehicle_class"] = df["vehicle_class"].apply(lambda x: "Luxury" if x in luxury else x)
df.vehicle_class.value_counts()

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has a wrong format, look at the diffrent values it takes with unique() and take the middle value, for example 1/5/00 should be 5. Number of open complaints is a string, remember you can use split() to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [ ]:
df.dtypes

In [ ]:
# Convert 'Customer Lifetime Value' column to numeric datatype
df['customer_lifetime_value'] = pd.to_numeric(df['customer_lifetime_value'], errors='coerce')

In [ ]:
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.split('/').str[1]

df["number_of_open_complaints"] = pd.to_numeric(df['number_of_open_complaints'], errors='coerce')
df.number_of_open_complaints.value_counts()

In [ ]:
df.head() #all to integers

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (we haven't studied this yet)

Implement your chosen strategy to handle the null values. You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the isnull() function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values. 

After formatting data types, as a last step, convert all the numeric variables to integers using applymap.

In [ ]:
df.columns[df.isnull().any()]

In [ ]:
df.isnull().sum()

In [ ]:
# Identify any columns with null or missing values
null_cols = df.columns[df.isnull().any()]

# Print the columns with null or missing values
print("Columns with null or missing values:")
print(null_cols)

# Separate categorical and numerical variables
cat_vars = df.select_dtypes(include=["object"]).columns
num_vars = df.select_dtypes(include=["float64", "int64"]).columns

# Fill null values in categorical variables with the mode
for col in null_cols:
    if col in cat_vars:
        df[col].fillna(df[col].mode()[0], inplace=True)

# Fill null values in numerical variables with the mean
for col in null_cols:
    if col in num_vars:
        df[col].fillna(df[col].mean(), inplace=True)

        # Verify that all null values have been handled
null_cols = df.columns[df.isnull().any()]
if len(null_cols) == 0:
    print("All null values have been successfully handled")
else:
    print("Null values still exist in the following columns:")
    print(null_cols)

In [ ]:
# Select only the columns that contain numeric values
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns

# Convert the numeric values to integers using applymap
df[numeric_cols] = df[numeric_cols].applymap(int)

df.head()

## Exercise 5: Dealing with duplicates

Use the .duplicated() method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the drop_duplicates() function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using .duplicated().

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [ ]:
# check for duplicates
print(df.duplicated().sum()/df.shape[0])

In [ ]:
# drop duplicates
df.drop_duplicates(inplace=True)

# reset the index
df.reset_index(drop=True, inplace=True)

print(df.duplicated().sum()/df.shape[0])

Save the cleaned dataset to a new CSV file for further analysis.

In [ ]:
# Save the cleaned dataset to a new CSV file
df.to_csv("file1_cleaned.csv", index=False)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting. 

Write these functions in a separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Done un cleaning_functions.py

# Bonus: Challenge 3: analyzing clean and formated data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we tried to do work with that column, we wouldn't have been able to do it because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, lets get some more interesting insights!

Instructions:

- Review again the statistics for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the .describe() method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here
# Look at statistics for total claim amount and customer lifetime value
print("Total Claim Amount Stats:\n", df["total_claim_amount"].describe())
print("\nCustomer Lifetime Value Stats:\n", df["customer_lifetime_value"].describe())

In [ ]:
# Define threshold values for high claim amount and low customer lifetime value
high_claim_amount = df["total_claim_amount"].quantile(0.75)
low_customer_lifetime_value = df["customer_lifetime_value"].quantile(0.25)

# Filter the data to identify customers with high claim amount and low customer lifetime value
df_high_low = df[(df["total_claim_amount"] > high_claim_amount) & (df["customer_lifetime_value"] < low_customer_lifetime_value)]

# Calculate summary statistics for the filtered data
print("\nSummary Statistics for High Claim Amount and Low Customer Lifetime Value Customers:")
print(df_high_low[["total_claim_amount", "customer_lifetime_value"]].describe())